.container {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Personalización para los botones del formulario */
.btn-primary {
    margin-right: 10px;
}

/* Estilo para el botón "Limpiar formulario" */
#clearButton {
    margin-top: 10px;
}